<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>

		<form action="/noticias/salvar" method="post">
			<label for="Titulo">Titulo</label>
			<input type="text" id="Titulo" name="Titulo" placeholder="Título da Notícia">
			<br>
			<label for="Autor">Autor</label>
			<input id="Autor" name="Autor" placeholder="Autor da Notícia" />
			<br>
			<label for="Resumo">Resumo</label>
			<input id="Resumo" name="Resumo" placeholder="Resumo da Notícia" />
			<br>
			<label for="Data">Data Notícia</label>
			<input id="Data_Noticia" name="Data_Noticia" placeholder="Data da Notícia" />
			<br>
			<label for="Noticia">Notícia</label>
			<textarea id="Noticia" name="Noticia" rows="5" cols="30" placeholder="Conteúdo da Notícia"></textarea>

			<br>
			<input type="submit" value="Enviar">
		</form>
	</body>
</html>