<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>

		<form action="/noticias/salvar" method="post">
			<label for="titulo">Titulo</label>
			<input type="text" id="titulo" name="titulo" placeholder="Título da Notícia">
			<br>
			<label for="autor">Autor</label>
			<input id="autor" name="autor" placeholder="Autor da Notícia" />
			<br>
			<label for="resumo">Resumo</label>
			<input id="resumo" name="resumo" placeholder="Resumo da Notícia" />
			<br>
			<label for="data_noticia">Data Notícia</label>
			<input id="data_noticia" name="data_noticia" placeholder="Data da Notícia" />
			<br>
			<label for="noticia">Notícia</label>
			<textarea id="noticia" name="noticia" rows="5" cols="30" placeholder="Conteúdo da Notícia"></textarea>

			<br>
			<input type="submit" value="Enviar">
		</form>
	</body>
</html>